# requirements.txt

# --- Core Framework ---
Django>=4.2,<4.3  # LTS version, fully supported
psycopg2-binary>=2.9,<2.10  # Use the binary for easier installation
gunicorn>=20.1.0,<21.0


# --- Utilities ---
Pillow>=10.4,<10.5  # Critical security update
celery>=5.4,<5.5
requests>=2.32,<2.33
python-dateutil>=2.9,<2.10  # Pinning the version
chardet>=5.2.0,<5.3

# --- Data Import/Export ---
django-import-export>=4.0,<4.1
openpyxl>=3.1,<3.2  # For handling .xlsx files
python-docx>=1.1.0,<1.2 # For handling .docx files


fuzzywuzzy>=0.18,<0.19
python-Levenshtein>=0.25,<0.26

numpy>=1.26,<1.27
pandas>=2.0,<2.1
