{# Load all the mixins #}
{% include "core/partials/scripts/mixins/core_mixin.html" %}
{% include "core/partials/scripts/mixins/product_mixin.html" %}
{% include "core/partials/scripts/mixins/inventory_mixin.html" %}
{% include "core/partials/scripts/mixins/content_mixin.html" %}
{% include "core/partials/scripts/mixins/image_mixin.html" %}
{% include "core/partials/scripts/components/tables_components.html" %}

<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('manageTools', () => ({
            // Spread the mixins to combine them into one scope
            ...manageCoreMixin(),
            ...manageProductMixin(),
            ...manageInventoryMixin(),
            ...manageContentMixin(),
            ...manageImageMixin(),

            init() {
                // Call init methods from mixins if they exist
                this.initCore();
                if (this.initProducts) this.initProducts();
                if (this.initContent) this.initContent();
            }
        }));
    });
</script>
