{% extends 'base.html' %}

{# The meta_title and meta_description are set by the seo_tags context processor #}

{% block title %}{{ product.name }}{% endblock %}

{# We don't need the sub-nav on a product page #}
{% block full_width_sticky_nav %}{% endblock %}

{% block content %}
<div class="max-w-4xl mx-auto bg-white shadow-lg rounded-lg my-12 overflow-hidden">
    <div class="grid grid-cols-1 md:grid-cols-2">
        <div>
            {% if product.featured_image %}
                <img src="{{ product.featured_image.image.url }}" alt="{{ product.featured_image.alt_text|default:product.name }}" class="w-full h-auto object-cover">
            {% else %}
                <div class="w-full h-96 bg-gray-200 flex items-center justify-center">
                    <svg class="w-24 h-24 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"></path></svg>
                </div>
            {% endif %}

            {% if product.gallery_images.all %}
                <div class="p-4 grid grid-cols-4 gap-2">
                    {% for image in product.gallery_images.all %}
                        <a href="{{ image.image.url }}" target="_blank">
                            <img src="{{ image.image.url }}" alt="{{ image.alt_text }}" class="rounded-lg shadow-md object-cover aspect-square">
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="p-8">
            <h1 class="text-3xl font-bold text-gray-900 mb-2">{{ product.name }}</h1>
            <p class="text-sm text-gray-500 mb-4">SKU: {{ product.sku }}</p>

            {% if product.selling_price %}
                <p class="text-4xl font-bold text-indigo-600 mb-6">RM {{ product.selling_price|floatformat:2 }}</p>
            {% else %}
                <p class="text-lg text-gray-600 mb-6">Price available upon request.</p>
            {% endif %}

            <div class="prose max-w-none">
                <p>{{ product.description|linebreaks }}</p>
            </div>

            </div>
    </div>
</div>
{% endblock %}
